apiVersion: apps/v1
kind: Deployment
metadata:
  name: order
  namespace: mce
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
        - name: order
          image: <AWS_ACCOUNT_ID>.dkr.ecr.<REGION>.amazonaws.com/order-repo-mce:latest
          ports:
            - containerPort: 8000
          env:
            - name: KAFKA_BROKER
              value: "b-1.msk.<REGION>.amazonaws.com:9092"
