apiVersion: v1
kind: Service
metadata:
  name: order
  namespace: mce
  labels:
    app: order
spec:
  type: ClusterIP
  selector:
    app: order
  ports:
    - name: http
      port: 80
      targetPort: 8000
