apiVersion: v1
kind: Service
metadata:
  name: cart
  namespace: mce
  labels:
    app: cart
spec:
  type: ClusterIP
  selector:
    app: cart
  ports:
    - name: http
      port: 80
      targetPort: 8000

