apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: mce
spec:
  selector:
    app: frontend
  type: LoadBalancer
  ports:
    - name: http
      port: 80
      targetPort: 8000
<<<<<<< HEAD


=======
>>>>>>> 604119d35203258af682b42100d5a4008a956b65


