apiVersion: apps/v1
kind: Deployment
metadata:
  name: product
  namespace: mce
spec:
  replicas: 2
  selector:
    matchLabels:
      app: product
  template:
    metadata:
      labels:
        app: product
    spec:
      containers:
        - name: product
          image: <AWS_ACCOUNT_ID>.dkr.ecr.<REGION>.amazonaws.com/product-repo-mce:latest
          ports:
            - containerPort: 8000
          env:
            - name: DB_HOST
              value: "mce-rds.<REGION>.rds.amazonaws.com"
            - name: DB_NAME
              value: "products"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: product-db-secret
                  key: username
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: product-db-secret
                  key: password
