apiVersion: v1
kind: Service
metadata:
  name: product
  namespace: mce
  labels:
    app: product
spec:
  type: ClusterIP
  selector:
    app: product
  ports:
    - name: http
      port: 80
      targetPort: 8000

