apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: events-producer-hpa
  namespace: mce
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: events-producer
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 30 # Default is 300 (5 mins)
      policies:
      - type: Percent
        value: 100
        periodSeconds: 15