apiVersion: apps/v1
kind: Deployment
metadata:
  name: search
  namespace: mce
  labels:
    app: search
spec:
  replicas: 2
  selector:
    matchLabels:
      app: search
  template:
    metadata:
      labels:
        app: search
    spec:
      containers:
        - name: search
<<<<<<< HEAD
          image: 343938549827.dkr.ecr.us-east-1.amazonaws.com/search-repo-mce-2
=======
          image: 150429528430.dkr.ecr.us-east-1.amazonaws.com/search-repo-mce-2:latest
>>>>>>> 604119d35203258af682b42100d5a4008a956b65
          ports:
            - containerPort: 8000
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "1"
              memory: "1Gi"
          env:
            - name: SERVICE_NAME
              value: "search"
            - name: OPENSEARCH_ENDPOINT
              valueFrom:
                configMapKeyRef:
                  name: common-config
                  key: OPENSEARCH_ENDPOINT
            - name: KAFKA_BOOTSTRAP
              valueFrom:
                configMapKeyRef:
                  name: common-config
                  key: KAFKA_BOOTSTRAP

