apiVersion: apps/v1
kind: Deployment
metadata:
  name: search
  namespace: mce
spec:
  replicas: 2
  selector:
    matchLabels:
      app: search
  template:
    metadata:
      labels:
        app: search
    spec:
      containers:
        - name: search
          image: <AWS_ACCOUNT_ID>.dkr.ecr.<REGION>.amazonaws.com/search-repo-mce:latest
          ports:
            - containerPort: 8000
