apiVersion: v1
kind: Service
metadata:
  name: search
  namespace: mce
  labels:
    app: search
spec:
  type: ClusterIP
  selector:
    app: search
  ports:
    - name: http
      port: 80
      targetPort: 8000

